<h1>new</h1>

<div>
<h3>Sunset</h3>
<%= form_for @theme do |f|  %>
	 <input type="hidden" id="theme_theme_name" name="theme[theme_name]" value="sunset">
	<%= f.submit  %>
<% end %>
</div>
<div>
<h3>theme2</h3>
<%= form_for @theme do |f|  %>
	 <input type="hidden" id="theme_theme_name" name="theme[theme_name]" value="theme2">
	<%= f.submit  %>
<% end %>
</div>
<div>
<h3>theme3</h3>
<%= form_for @theme do |f|  %>
	  <input type="hidden" id="theme_theme_name" name="theme[theme_name]" value="theme3">
	<%= f.submit  %>
<% end %>
</div>