<h1>Company Index</h1>

<h1>Edit your site here!</h1>
<%= image_tag @company.logo.url(:medium) %>
<%= form_for @company, :html => { :multipart => true } do |f| %>
<div class="field">
    <%= f.label 'Edit your logo' %><br />
    <%= f.file_field :logo %>
</div>
<% end %>

<div class="company">
	<h6>Company: </h6><%= best_in_place @company, :company, type: :input %>
</div>

<div class="tagline">
	<h6>Tagline: </h6><%= best_in_place @company, :tagline, type: :input %>
</div>

<div class="about">
	<h6>About us: </h6><%= best_in_place @company, :about, type: :textarea, :sanitize => :false%>
</div>

<div class="address1">
	<h6>Address 1: </h6><%= best_in_place @company, :address1, type: :input %>
</div>
<div class="address1">
	<h6>Address 2: </h6><%= best_in_place @company, :address2, type: :input %>
</div>
<div class="city">
	<h6>City: </h6><%= best_in_place @company, :city, type: :input %>
</div>
<div class="state">
	<h6>State: </h6><%= best_in_place @company, :state, type: :input %>
</div>
<div class="zipcode">
	<h6>Zipcode: </h6><%= best_in_place @company, :zipcode, type: :input %>
</div>
<div class="phone">
	<h6>Phone: </h6><%= best_in_place @company, :phone, type: :input  %>
</div>
<div class="fax">
	<h6>Fax: </h6><%= best_in_place @company, :fax, type: :input  %>
</div>
<div class="email">
	<h6>Email: </h6><%= best_in_place @company, :email, type: :input %>
</div>
<div class="hours">
	<h6>Hours: </h6><%= best_in_place @company, :hours, type: :input %>
</div>
