<div class="container">
<div class = "header-<%= @theme %>">
<div class="company-<%= @theme  %>">
	<p class="flash-notice">Psssst...You're in edit mode! click to change any field.</p>
	<h1><%=best_in_place  @company, :company, type: :input %></h1>
</div>

<div class="tagline-<%= @theme  %>">
	<h3><%=best_in_place @company, :tagline, type: :input  %></h3>
</div>
</div>
<div class="grid-items">
  <a href="javascript:void(0)" class="grid-item">
    <i class="fa fa-phone-square fa-3x"></i>
   <h1>Contact Us</h1>
    <p><%=best_in_place @company, :phone, type: :input%></p>
    <p><%= best_in_place @company, :fax, type: :input%></p>
     <p><%= best_in_place @company, :email, type: :input%></p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
 <i class="fa fa-heart fa-3x"></i>
  <h1>About Us</h1>
    <p><%=best_in_place @company, :about, type: :input%></p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big">
  <i class="fa fa-map-marker fa-3x"></i>
    <h1>Find Us</h1>
    <p><%=best_in_place @company, :address1, type: :input%></p>
     <p><%=best_in_place @company, :address2, type: :input%></p>
     <p><%=best_in_place @company, :city, type: :input%>, <%=@company.state%></p>
      <p><%=best_in_place @company, :zipcode, type: :input%></p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
    <i class="fa fa-clock-o fa-3x"></i>
    <h1>Our Hours</h1>
    <p><%= best_in_place @company, :hours, type: :input %></p>
  </a>
  <a href="javascript:void(0)" class="grid-item">
   <i class="fa fa-user fa-3x"></i>
    <h1>Social</h1>
    <p href="<%= @company.facebook  %>" title="">Facebook</p>
    <p href="<%= @company.twitter  %>" title="">Twitter</p>
     <p href="<%= @company.linkedin  %>" title="">Linkedin</p>
      <p href="<%= @company.tumblr  %>" title="">Tumblr</p>
  </a>
  <a href="javascript:void(0)" class="grid-item grid-item-big grid-item-image">
   <iframe width="600" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= @company.address1 %> <%= @company.city %> <%= @company.state %> <%= @company.zipcode %>&output=embed"></iframe>
  </a>
</div>
</div>