<% content_for :head do %>
  <title><%= @company.company %> in <%= @company.city  %>, <%= @company.state  %></title>
  <meta name="description" content="<%=h truncate(@company.about, :length => 155) %>">
<% end %>
<h1>Company Show</h1>

<div class="company-<%= @theme  %>">
	<%= @company.company %>
</div>

<div class="tagline-<%= @theme  %>">
	<%=@company.tagline  %>
</div>

<div class="address1-<%= @theme  %>">
	<%= @company.address1  %>
</div>
<div class="city-<%= @theme  %>">
	<%= @company.city  %>
</div>
<div class="state-<%= @theme  %>">
	<%= @company.state  %>
</div>
<div class="zipcode-<%= @theme  %>">
	<%= @company.zipcode  %>
</div>
<div class="phone-<%= @theme  %>">
	<%= @company.phone  %>
</div>
<div class="fax-<%= @theme  %>">
	<%= @company.fax  %>
</div>
<div class="email-<%= @theme  %>">
	<%= @company.email  %>
</div>
<div class="hours-<%= @theme  %>">
	<%= @company.hours  %>
</div>
