<h1>Company Show</h1>

<div class="company">
	<%= @company.company %>
</div>

<div class="tagline">
	<%=@company.tagline  %>
</div>

<div class="address1">
	<%= @company.address1  %>
</div>
<div class="city">
	<%= @company.city  %>
</div>
<div class="state">
	<%= @company.state  %>
</div>
<div class="zipcode">
	<%= @company.zipcode  %>
</div>
<div class="phone">
	<%= @company.phone  %>
</div>
<div class="fax">
	<%= @company.fax  %>
</div>
<div class="email">
	<%= @company.email  %>
</div>
<div class="hours">
	<%= @company.hours  %>
</div>
