
<% content_for :head do %>
  <title><%= @company.company %> in <%= @company.city  %>, <%= @company.state  %></title>
  <meta name="description" content="<%=h truncate(@company.about, :length => 155) %>">
 <% end %>

<div class="company">
	<h6>Company: </h6><%= @company.company %>
</div>

<div class="tagline">
	<h6>Tagline: </h6><%= @company.tagline %>
</div>

<div class="about">
	<h6>About us: </h6><%= @company.about %>
</div>


<div class = "header-<%= @theme %>">
<div class="company-<%= @theme  %>">
	<h1><%= @company.company %></h1>
</div>

<div class="tagline-<%= @theme  %>">
	<h3><%=@company.tagline  %></h3>
</div>
</div>

<div class="container">
<div class="info">
<h2>Find Us</h2>
<div class="address1-<%= @theme  %>">
	<%= @company.address1  %>
</div>

<div class="address1">
	<h6>Address 1: </h6><%= @company.address1 %>
</div>
<div class="address1">
	<h6>Address 2: </h6><%= @company.address2 %>
</div>
<div class="city">
	<h6>City: </h6><%= @company.city %>
</div>
<div class="state">
	<h6>State: </h6><%= @company.state %>
</div>
<div class="zipcode">
	<h6>Zipcode: </h6><%= @company.zipcode %>
</div>
<div class="info">
<h2>Contact Us</h2>
<div class="phone-<%= @theme  %>">
	<%= @company.phone  %>
</div>
<div class="phone">
	<h6>Phone: </h6><%= @company.phone %>
</div>
<div class="fax">
	<h6>Fax: </h6><%= @company.fax %>
</div>
<div class="email">
	<h6>Email: </h6><%= @company.email %>
</div>
<div class="hours">
	<h6>Hours: </h6><%= @company.hours %>
</div>
</div>
<div class="info">
<h2>Hours</h2>
<div class="hours-<%= @theme  %>">
	<%= @company.hours  %>
</div>
</div>
</div>
</div>

