
<% content_for :head do %>
  <title><%= @company.company %> in <%= @company.city  %>, <%= @company.state  %></title>
  <meta name="description" content="<%=h truncate(@company.about, :length => 155) %>">
 <% end %>
<div class = "header-<%= @theme %>">
<div class="company-<%= @theme  %>">
	<h1><%= @company.company %></h1>
</div>

<div class="tagline-<%= @theme  %>">
	<h3><%=@company.tagline  %></h3>
</div>
</div>

<div class="container">
<div class="info-<%= @theme  %>">
<h2>Find Us</h2>
<div class="address1-<%= @theme  %>">
	<%= @company.address1  %>
</div>

<div class="address1">
	<h6>Address 2: </h6><%= @company.address2 %>
</div>
<div class="city-<%= @theme  %>">
	<h6>City: </h6><%= @company.city %>
</div>
<div class="state-<%= @theme  %>">
	<h6>State: </h6><%= @company.state %>
</div>
<div class="zipcode-<%= @theme  %>">
	<h6>Zipcode: </h6><%= @company.zipcode %>
</div>
</div>
<div class="info-<%= @theme  %>">
<h2>Contact Us</h2>
<div class="phone-<%= @theme  %>">
	<%= @company.phone  %>
</div>
<div class="fax-<%= @theme  %>">
	<%= @company.fax %>
</div>
<div class="email-<%= @theme  %>">
	 <%= @company.email %>
</div>
<div class="hours-<%= @theme  %>">
	<%= @company.hours %>
</div>
</div>
<div class="info-<%= @theme  %>">
<h2>Hours</h2>
<div class="hours-<%= @theme  %>">
	<%= @company.hours  %>
</div>
</div>
</div>

